html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, button
 {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font-weight: inherit;
 font-style: inherit;
 font-size: 100%;
 font-family: inherit;
 vertical-align: baseline;
 }
:focus
 {
 outline: 0;
 }
body
 {
 line-height: 1;
 color: black;
 background: white;
 }
ol, ul
 {
 list-style: none;
 }
table
 {
 border-collapse: separate;
 border-spacing: 0;
 }
caption, th, td
 {
 text-align: left;
 font-weight: normal;
 }
body
 {
 font-size: 16px;
 }
.doc
 {
 margin: 1em auto;
 width: 46em;
 font-family: "Georgia", "DejaVu Serif", serif;
 font-size: 0.625em;
 line-height: 1.6em;
 color: #000;
 overflow: hidden;
 }
.doc_bold {font-weight: bold;}
.doc_emph {font-style: italic;}
.doc_code {font-family: "Courier New", "Courier", "DejaVu Mono", monospace; font-weight: bold; color: #444;}
.doc_caps {font-variant: small-caps;}
.doc_ins {text-decoration: underline; color: #090;}
.doc_del {text-decoration: line-through; color: #900;}
.doc_sup {vertical-align: 0.3em;}
.doc_sub {vertical-align: -0.1em;}
.doc_mbox {white-space: nowrap;}
.doc_lnk
 {
 text-decoration: none;
 color: #009;
 }
.doc_see
 {
 margin-left: 0.25em;
 vertical-align: 0.3em;
 font-size: 0.857em;
 color: #009;
 }
.doc_cite
 {
 margin-left: 0.25em;
 color: #009;
 }
.doc_par
 {
 text-align: justify;
 font-size: 1.4em;
 }
.doc_initial:first-letter
 {
 float: left;
 margin-right: 0.15em;
 font-weight: bold;
 font-size: 3.5em;
 text-transform: capitalize;
 text-shadow: #666 1px 1px 2px;
 color: #501;
 }
.doc_par:not(:first-child) {margin-top: 0.5em;}
.doc_par:not(:last-child) {margin-bottom: 0.5em;}
.doc_par + .doc_par:not(.doc_initial) {text-indent: 1em;}
.doc_par.doc_indent:not(.doc_initial) {text-indent: 1em;}
.doc_par.doc_noindent {text-indent: 0;}
.doc_itemize,
.doc_enumerate,
.doc_description {margin: 0 0 0 2em;}
.doc_itemize {list-style: disc outside;}
.doc_enumerate {list-style: decimal outside;}
.doc_itemize > li, .doc_enumerate > li {margin: 0.5em 0;}
.doc_description > dt {margin: 0.5em 0 0.25em;}
.doc_style_none {list-style-type: none;}
.doc_style_disc {list-style-type: disc;}
.doc_style_circle {list-style-type: circle;}
.doc_style_square {list-style-type: square;}
.doc_style_decimal {list-style-type: decimal;}
.doc_style_lower_roman {list-style-type: lower-roman;}
.doc_style_upper_roman {list-style-type: upper-roman;}
.doc_style_lower_alpha {list-style-type: lower-alpha;}
.doc_style_upper_alpha {list-style-type: upper-alpha;}
.doc_description > dt
 {
 margin-left: -1.5em;
 font-size: 1.4em;
 font-weight: bold;
 color: #501;
 }
.doc_itemize:not(:first-child),
.doc_enumerate:not(:first-child),
.doc_description:not(:first-child) {margin-top: 1em;}
.doc_itemize:not(:last-child),
.doc_enumerate:not(:last-child),
.doc_description:not(:last-child) {margin-bottom: 1em;}
.doc_qanda {margin: 0 1em;}
.doc_qanda > dt
 {
 display: block;
 float: left;
 padding: 0 0.5em 0 0;
 font-size: 1.4em;
 font-weight: bold;
 font-variant: small-caps;
 }
.doc_qanda > .doc_question {color: #501;}
.doc_qanda > .doc_answer {color: #000;}
.doc_qanda > dd.doc_question {margin: 0.5em 0;}
.doc_qanda > dd.doc_answer {margin: 0.5em 0 1em;}
.doc_qanda:not(:first-child) {margin-top: 1em;}
.doc_qanda:not(:last-child) {margin-bottom: 1em;}
.doc_verse
 {
 clear: both;
 margin: 0 1em;
 text-align: center;
 }
.doc_verse > div
 {
 display: inline-block;
 font-style: italic;
 }

.doc_verse > div > .doc_par
 {
 text-indent: 0;
 }

.doc_verse:not(:first-child) {margin-top: 1.5em;}
.doc_verse:not(:last-child) {margin-bottom: 1.5em;}






.doc_quote
 {
 clear: both;
 margin: 0 1em;
 padding-left: 0.75em;
 border-left: 2px solid #666;
 color: #333;
 }

.doc_quote:not(:first-child) {margin-top: 1.5em;}
.doc_quote:not(:last-child) {margin-bottom: 1.5em;}






.doc_mathblk
 {
 clear: both;
 margin: 0 1em;
 text-align: center;
 }

.doc_mathblk:not(:first-child) {margin-top: 1em;}
.doc_mathblk:not(:last-child) {margin-bottom: 1em;}
.doc_wrapper > .doc_mathblk {margin: 0;}






.doc_src_main
 {
 clear: both;
 margin: 0 1em;
 font-size: 1.2em;
 font-family: "Courier New", "Courier", "DejaVu Mono", monospace;
 line-height: 1.8em;
 overflow: auto;
 color: Color_body;
 }

.doc_src_box
 {
 border: 1px solid #333;
 -moz-box-shadow: 3px 3px 3px #666;
 -moz-border-radius: 6px;
 background: #f3f6f9;
 }

.doc_src_nums
 {
 float: left;
 margin-right: 1em;
 border-right: 1px solid #666;
 white-space: normal;
 font-weight: bold;
 }

.doc_src_code
 {
 white-space: normal;
 }

.doc_src_line
 {
 display: block;
 white-space: pre;
 height: 1.8em;
 padding: 0 1em;
 }

.doc_src_dummy
 {
 display: block;
 height: 0;
 padding: 0.3em 0;
 }

.doc_src_zebra > .doc_src_code > .doc_src_line:nth-child(odd) {background: #f3f6fc;}
.doc_src_zebra > .doc_src_code > .doc_src_line:nth-child(even) {background: #f9f9f9;}
.doc_src_zebra > .doc_src_code > .doc_src_line:first-child {-moz-border-radius-topright: 6px;}
.doc_src_zebra > .doc_src_code > .doc_src_line:first-child {-moz-border-radius-topleft: 6px;}
.doc_src_zebra > .doc_src_code > .doc_src_line:last-child {-moz-border-radius-bottomright: 6px;}
.doc_src_zebra > .doc_src_code > .doc_src_line:last-child {-moz-border-radius-bottomleft: 6px;}

.doc_src_num {color: #606; font-weight: bold;}
.doc_src_esc {color: #f06; font-weight: bold;}
.doc_src_str {color: #c33;}
.doc_src_dstr {color: #0ff;}
.doc_src_slc {color: #669; font-style: italic;}
.doc_src_com {color: #669; font-style: italic;}
.doc_src_dir {color: #600;}
.doc_src_sym {color: #060;}
.doc_src_kwa {color: #960; font-weight: bold;}
.doc_src_kwb {color: #006;}
.doc_src_kwc {color: #03c;}
.doc_src_kwd {color: #090; font-weight: bold;}

.doc_src_main:not(:first-child) {margin-top: 1.5em;}
.doc_src_main:not(:last-child) {margin-bottom: 1.5em;}
.doc_src_box:not(:first-child) {margin-top: 2em;}
.doc_src_box:not(:last-child) {margin-bottom: 2em;}
.doc_wrapper > .doc_src_main {margin: 0;}






.doc_tab
 {
 clear: both;
 margin: 0 1em;
 text-align: center;
 line-height: 0;
 }

.doc_tab > div
 {
 display: inline-block;
 line-height: 1.6em;
 }

.doc_tab > div > table
 {
 font-size: 1.3em;
 border-collapse: collapse;
 border-top: 2px solid #666;
 border-bottom: 2px solid #666;
 }

.doc_tab > div > table > thead
 {
 vertical-align: bottom;
 font-weight: bold;
 border-bottom: 1px solid #666;
 }

.doc_tab > div > table > tfoot
 {
 vertical-align: bottom;
 font-weight: bold;
 border-top: 1px solid #666;
 }

.doc_tgroup > tr > th {padding: 0.4em 1em; font-weight: bold;}
.doc_tgroup > tr > td {padding: 0.4em 1em; font-weight: bold;}
tbody.doc_tgroup > tr > th {padding: 0.1em 1em;}
tbody.doc_tgroup > tr > td {padding: 0.1em 1em; font-weight: normal;}

tbody.doc_tgroup > tr:first-child > th {padding-top: 0.4em;}
tbody.doc_tgroup > tr:first-child > td {padding-top: 0.4em;}
tbody.doc_tgroup > tr:last-child > th {padding-bottom: 0.4em;}
tbody.doc_tgroup > tr:last-child > td {padding-bottom: 0.4em;}
tbody.doc_tgroup + tbody.doc_tgroup {border-top: 1px dotted #666;}

.doc_cell_l {text-align: left;}
.doc_cell_r {text-align: right;}
.doc_cell_c {text-align: center;}
.doc_cell_j {text-align: justify;}

.doc_hline {border-bottom: 1px solid #000;}

.doc_tab:not(:first-child) {margin-top: 2em;}
.doc_tab:not(:last-child) {margin-bottom: 2em;}
.doc_wrapper > .doc_tab {margin: 0;}






.doc_verb
 {
 clear: both;
 margin: 0 1em;
 text-align: center;
 line-height: 0;
 }

.doc_verb > div {display: inline-block;}

.doc_verb > div > pre
 {
        display: block;
 overflow: hidden;
 white-space: pre;
 line-height: 1em;
 text-align: left;
 font-family: "Courier New", "Courier", "DejaVu Mono", monospace;
 }

.doc_mult0 {font-size: 1.20em;}
.doc_mult1 {font-size: 1.70em;}
.doc_mult2 {font-size: 2.40em;}
.doc_mult3 {font-size: 3.39em;}
.doc_mult4 {font-size: 4.80em;}
.doc_mult5 {font-size: 6.79em;}
.doc_mult6 {font-size: 9.60em;}
.doc_mult7 {font-size: 13.6em;}
.doc_mult8 {font-size: 19.2em;}
.doc_mult9 {font-size: 27.2em;}

.doc_verb:not(:first-child) {margin-top: 2em;}
.doc_verb:not(:last-child) {margin-bottom: 2em;}
.doc_wrapper > .doc_verb {margin: 0;}






.doc_image
 {
 clear: both;
 margin: 0 1em;
 text-align: center;
 line-height: 0;
 }

.doc_image > a {display: inline-block; width: 100%;}
.doc_image > a > img {display: inline; max-width: 100%; border: none;}
.doc_image_frame > a > img {-moz-box-shadow: 3px 3px 3px #666;}

.doc_image:not(:first-child) {margin-top: 2em;}
.doc_image:not(:last-child) {margin-bottom: 2em;}
.doc_wrapper > .doc_image {margin: 0;}






.doc_subpage
 {
 clear: both;
 margin: 0 1em;
 padding: 1em;
 border: 1px solid #333;
 -moz-box-shadow: 3px 3px 3px #666;
 -moz-border-radius: 6px;
 background: #f9f9f9;
 }

.doc_subpage:not(:first-child) {margin-top: 2em;}
.doc_subpage:not(:last-child) {margin-bottom: 2em;}
.doc_wrapper > .doc_subpage {margin: 0;}






.doc_pull
 {
 margin: 0 1em;
 padding-left: 2.75em;
 text-align: center;
 }

.doc_pull > div
 {
 display: inline-block;
 font-size: 1.071em;
 font-style: italic;
 font-weight: bold;
 quotes: "\201c" "\201d";
 color: #333;
 }


.doc_pull > div > .doc_pullhead
 {
 text-align: right;
 font-size: small;
 font-style: normal;
 font-weight: normal;
 color: #501;
 }

.doc_pull > div:before
 {
 float: left;
 display: block;
 font-family: "Georgia", serif;
 font-size: 5em;
 content: open-quote;
 margin-left: -0.7em;
 height: 0;
 line-height: 0.75em;
 color: #ccc;
 }






.doc_boxout
 {
 margin: 0 1em;
 border: 1px solid #333;
 -moz-box-shadow: 3px 3px 3px #666;
 -moz-border-radius: 6px;
 background: #fffcf0;
 }

.doc_boxout_head
 {
 padding: 0.3em;
 border-bottom: 1px solid #333;
 -moz-border-radius-topleft: 6px;
 -moz-border-radius-topright: 6px;
 text-align: center;
 font-family: "Verdana", "Geneva", "DejaVu Sans", sans-serif;
 font-size: 1.5em;
 font-variant: small-caps;
 font-weight: bold;
 color: #501;
 }

.doc_boxout_body
 {
 padding: 1em;
 }






.doc_boxout_env_warning {background: #fffcf0;}
.doc_boxout_env_warning > .doc_boxout_head
 {
 padding-left: 28px;
 color: #ff9;
 background: #b30 url('boxout-warning.png') no-repeat 6px center;
 }

.doc_boxout_env_tip {background: #f7fcff;}
.doc_boxout_env_tip > .doc_boxout_head
 {
 padding-left: 28px;
 color: #fff;
 background: #06c url('boxout-tip.png') no-repeat 6px center;
 }






.doc_theorem {margin: 0 1em;}

.doc_theorem_head
 {
 float: left;
 margin-right: 0.5em;
 }

.doc_thmname {font-weight: bold; color: #501;}
.doc_thmextra {margin-left: 0.5em;}

.doc_theorem:not(:first-child) {margin-top: 1em;}
.doc_theorem:not(:last-child) {margin-bottom: 1em;}






.doc_float_center {clear: both; margin: 0 1em;}
.doc_float_right {clear: right; margin: 0.5em 0 1.5em 2.5em; float: right; max-width: 45%;}
.doc_float_left {clear: left; margin: 0.5em 2.5em 1.5em 0; float: left; max-width: 45%;}

.doc_float_center:not(:first-child) {margin-top: 2em;}
.doc_float_center:not(:last-child) {margin-bottom: 2em;}

.doc_wrapper.doc_float_center:not(:first-child) {margin-top: 2.5em;}
.doc_wrapper.doc_float_center:not(:last-child) {margin-bottom: 2.5em;}






.doc_caption_long
 {
 margin: 1.5em 0 0;
 text-align: center;
 }

.doc_caption_short
 {
 margin: 0.5em 0 0;
 text-align: right;
 }

.doc_caption > div
 {
 display: inline-block;
 font-size: 1.2em;
 text-align: justify;
 }

.doc_caption > div > h1
 {
 display: inline;
 font-weight: bold;
 color: #501;
 }

.doc_caption_long > div > h1 {margin-right: 0.25em}

.doc_caption_long > div > p {display: inline;}






.doc_title
 {
 clear: both;
 font-family: "Verdana", "Geneva", "DejaVu Sans", sans-serif;
 font-weight: bold;
 font-variant: small-caps;
 text-transform: capitalize;
 text-align: center;
 color: #501;
 }

h1.doc_title {font-size: 2.2em;}
h2.doc_title {font-size: 1.8em;}

.doc_part
 {
 clear: both;
 padding: 0.25em 0;
 border-top: 1px solid #501;
 border-bottom: 1px solid #501;
 font-family: "Verdana", "Geneva", "DejaVu Sans", sans-serif;
 font-weight: bold;
 font-size: 1.8em;
 font-variant: small-caps;
 text-transform: capitalize;
 text-align: center;
 word-spacing: 0.1em;
 letter-spacing: 0.01em;
 color: #501;
 }

.doc_sec
 {
 clear: both;
 font-family: "Verdana", "Geneva", "DejaVu Sans", sans-serif;
 font-weight: bold;
 word-spacing: 0.1em;
 letter-spacing: 0.01em;
 color: #501;
 }

h1.doc_sec {font-size: 1.7em;}
h2.doc_sec {font-size: 1.6em;}
h3.doc_sec {font-size: 1.5em;}

.doc_title:not(:first-child) {margin-top: 2em;}
.doc_part:not(:first-child) {margin-top: 2em;}
.doc_sec:not(:first-child) {margin-top: 2em;}

.doc_title:not(:last-child) {margin-bottom: 1.5em;}
.doc_part:not(:last-child) {margin-bottom: 1.5em;}
.doc_sec:not(:last-child) {margin-bottom: 0.5em;}

h2.doc_title + h2.doc_title {margin-top: -1em;}






.doc_abs {margin: Vmargin_floater 1em;}

.doc_abs > .doc_sec {text-align: center;}






.doc_rule
 {
 border: 1px dotted #501;
 margin: 0 1em;
 }

.doc_rule:not(:first-child) {margin-top: 2em;}
.doc_rule:not(:last-child) {margin-bottom: 2em;}






.doc_toc
 {
 list-style-type: none;
 margin-top: 1em;
 padding-left: 0;
 font-size: 1.4em;
 }

.doc_toc > li {margin-left: 0.5em;}

.doc_toc > li.level0
 {
 text-decoration: underline;
 margin: 0.25em 0;
 }






.doc_bibs
 {
 margin-top: 1em;
 padding: 0;
 list-style-type: none;
 }

.doc_bibs > li {margin-top: 0.75em;}

.doc_bibs > li > span
 {
 width: 2.5em;
 float: left;
 font-weight: bold;
 text-align: right;
 }

.doc_bibs > li > p {margin-left: 3em;}

.doc_bib_author {margin-right: 0.5em;}

.doc_bib_author:after {content: ':';}

.doc_bib_title {font-style: italic;}

.doc_bib_resource
 {
 display: block;
 margin-top: 0.25em;
 }






.doc_notes
 {
 margin-top: 1em;
 padding: 0;
 list-style-type: none;
 }

.doc_notes > li {margin-top: 0.75em;}

.doc_notes > li > span
 {
 width: 2.5em;
 float: left;
 font-weight: bold;
 text-align: right;
 }

.doc_notes > li > div {margin-left: 3em;}
.doc_error
 {
 margin: 1em 0;
 }
.doc_error_head
 {
 font-size: 1.071em;
 }
.doc_error_lines
 {
 padding: 0;
 border: 1px dotted #666;
 list-style-type: none;
 font-size: 0.857em;
 font-family: monospace;
 background: #ffc;
 }
.doc_error_lines > li > span:first-child
 {
 display: block;
 float: left;
 clear: left;
 width: 3em;
 padding: 0.2em 0;
 text-align: right;
 font-weight: bold;
 }
.doc_error_lines > li > span + span
 {
 min-height: 1.6em;
 display: block;
 margin-left: 3.5em;
 border-left: 1px solid #999;
 padding: 0.2em 0.5em;
 }
.doc_error_around {background: #f9f9f9; color: #000;}
.doc_error_actual {background: #f3f6fc; color: #c33;}
