/********************************************************************************/
/* Lambdoc_common CSS. 								*/
/********************************************************************************/

/********************************************************************************/
/* High-level document CSS.							*/
/********************************************************************************/

body
	{
	font-size: 16px;	/* The default for most browsers is 16px. */
	font-family: serif;
	}

.doc
	{
	margin: auto;
	width: 46em;
	font-size: 0.875em;	/* For default of 16 * 0.875 = 14px */
	line-height: 1.25em;
	}

