/********************************************************************************/
/* Lambdoc_valid CSS. 								*/
/********************************************************************************/

/********************************************************************************/
/* Inline text.									*/
/********************************************************************************/

.doc_mono	{font-family: monospace; color: #666;}
.doc_caps	{font-variant: small-caps;}
.doc_thru	{text-decoration: line-through;}
sup		{vertical-align: 0.3em;}
sub		{vertical-align: -0.1em;}


/********************************************************************************/
/* Hyperlinks.									*/
/********************************************************************************/

.doc a
	{
	text-decoration: none;
	}

.doc_see
	{
	margin-left: 0.3em;
	font-size: 0.929em;	/* For size of 14 * 0.929 = 13px */
	vertical-align: 0.2em;
	color: #0000cc;
	}

.doc_cite
	{
	margin-left: 0.3em;
	color: #0000cc;
	}


/********************************************************************************/
/* Document titles and headings.						*/
/********************************************************************************/

.doc_title
	{
	font-variant: small-caps;
	text-transform: capitalize;
	text-align: center;
	}

h1.doc_title	{font-size: 1.714em; margin: 1.5em 0;}		/* For size of 14 * 1.714 = 24px */
h2.doc_title	{font-size: 1.429em; margin: 0.5em 0;}		/* For size of 14 * 1.429 = 20px */

.doc_part
	{
	clear: both;
	margin: 1.5em 0 1em;
	padding: 0.5em 0;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	font-variant: small-caps;
	font-size: 1.286em;					/* For size of 14 * 1.286 = 18px */
	text-transform: capitalize;
	text-align: center;
	}

.doc_sec
	{
	clear: both;
	margin: 1.5em 0 0em;
	padding: 0;
	text-transform: capitalize;
	}

.doc_part > span + span, .doc_sec > span + span
	{
	margin-left: 0.75em;
	}

h1.doc_sec	{font-size: 1.143em;}		/* For size of 14 * 1.143 = 16px */
h2.doc_sec	{font-size: 1.071em;}		/* For size of 14 * 1.071 = 15px */
h3.doc_sec	{font-size: 1em;}		/* For size of 14 * 1 = 14px */


/********************************************************************************/
/* Abstract.									*/
/********************************************************************************/

.doc_abs > h1
	{
	text-align: center;
	margin: 2em auto 0.5em;
	font-size: 1em;
	}

.doc_abs p
	{
	margin: 0;
	}


/********************************************************************************/
/* Rules.									*/
/********************************************************************************/

.doc hr {margin: 2em 0;}


/********************************************************************************/
/* Paragraphs.									*/
/********************************************************************************/

.doc p
	{
	margin: 0.5em 0;
	text-align: justify;
	}

.doc_par + .doc_par
	{
	text-indent: 1em;
	}


/********************************************************************************/
/* List environments (itemize and enumerate).					*/
/********************************************************************************/

.doc_itemize
	{
	margin: 1em 0 1.5em;
	padding: 0 0 0 2em;
	list-style: disc outside;
	}

.doc_enumerate
	{
	margin: 1em 0 1.5em;
	padding: 0 0 0 2em;
	list-style: decimal outside;
	}

.doc_itemize > li, .doc_enumerate > li
	{
	margin: 0.5em 0;
	}

.doc_itemize > li > .doc_par:first-child,
.doc_enumerate > li > .doc_par:first-child
	{
	margin: 0;
	}

.doc_style_none		{list-style-type: none;}
.doc_style_disc		{list-style-type: disc;}
.doc_style_circle	{list-style-type: circle;}
.doc_style_square	{list-style-type: square;}
.doc_style_decimal	{list-style-type: decimal;}
.doc_style_lower_roman	{list-style-type: lower-roman;}
.doc_style_upper_roman	{list-style-type: upper-roman;}
.doc_style_lower_alpha	{list-style-type: lower-alpha;}
.doc_style_upper_alpha	{list-style-type: upper-alpha;}


/********************************************************************************/
/* CSS common to all alignable blocks.						*/
/********************************************************************************/

.doc_aligned
	{
	clear: both;
	}

.doc_align_center	{margin: 2em 1em;}
.doc_align_right	{margin: 0.5em 0 1em 1.75em; float: right; max-width: 40%;}
.doc_align_left		{margin: 0.5em 1.75em 1em 0; float: left; max-width: 40%;}

.doc_wrapper.doc_align_center	{margin: 2.5em 1em;}


/********************************************************************************/
/* Quote environments.								*/
/********************************************************************************/

.doc_quote
	{
	clear: both;
	padding: 0 0.5em 0 2em;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	font-style: italic;
	text-align: justify;
	quotes: "\201c" "\201d";
	}

.doc_quote:before
	{
	display: block;
	font-family: "Georgia", serif;
	font-size: 3.5em;		/* For size of 14 * 3.5 = 49px */
	color: #999;
	content: open-quote;
	margin-left: -0.6em;
	line-height: 1.2em;
	height: 0;
	}


/********************************************************************************/
/* Mathematics environments.							*/
/********************************************************************************/

.doc_math
	{
	text-align: center;
	}


/********************************************************************************/
/* Code environments.								*/
/********************************************************************************/

.doc_hl_main
	{
	border: 1px dashed #666;
	font-size: 0.857em;			/* For size of 14 * 0.857 = 12px */
	font-family: monospace;
	color: #000000;
	background-color: #f9f9f9;
	}

.doc_hl_nums
	{
	float: left;
	margin: 0 1em 0 0;
	border-right: 1px solid #999;
	font-weight: bold;
	color: #000;
	}

.doc_hl_code
	{
	margin: 0;
	padding:0;
	}

.doc_hl_line,
.doc_hl_line_even,
.doc_hl_line_odd
	{
	display: block;
	padding: 0.1em 0.5em;
	}

.doc_hl_line_even	{background: #f9f9f9;}
.doc_hl_line_odd	{background: #f3f6fc;}

.doc_hl_num		{color: #606; font-weight: bold;}
.doc_hl_esc		{color: #f06; font-weight: bold;}
.doc_hl_str		{color: #c33;}
.doc_hl_dstr		{color: #0ff;}
.doc_hl_slc		{color: #669; font-style: italic;}
.doc_hl_com		{color: #669; font-style: italic;}
.doc_hl_dir		{color: #600;}
.doc_hl_sym		{color: #060;}
.doc_hl_kwa		{color: #960; font-weight: bold;}
.doc_hl_kwb		{color: #006;}
.doc_hl_kwc		{color: #03c;}
.doc_hl_kwd		{color: #090; font-weight: bold;}


/********************************************************************************/
/* Verbatim environments.							*/
/********************************************************************************/

.doc_verb
	{
	text-align: center;
	}

.doc_verb > pre
	{
	display: inline-block;
	overflow: hidden;
	white-space: pre;
	margin: 0;
	padding: 1em;
	border: 1px dashed #999;
	text-align: left;
	font-family: monospace;
	font-size: 0.857em;		/* For size of 14 * 0.857 = 12px */
	background-color: #fffcf0;
	}


/********************************************************************************/
/* Tabular environments.		 					*/
/********************************************************************************/

.doc_tab
	{
	border-top: 2px solid #999;
	border-bottom: 2px solid #999;
	font-size: 0.929em;		/* For size of 14 * 0.929 = 13px */
	}

.doc_tab.doc_align_center,
.doc_align_center > .doc_tab
	{
	margin: 2em auto;
	}

.doc_tab > thead,
.doc_tab > tfoot
	{
	vertical-align: bottom;
	font-weight: bold;
	background-color: #fafafa;
	}

.doc_tab > tbody > tr:first-child > th,
.doc_tab > tbody > tr:first-child > td,
.doc_tab > tfoot > tr:first-child > th,
.doc_tab > tfoot > tr:first-child > td
	{
	border-top: 2px solid #999;
	}

.doc_tab > tbody:first-child > tr:first-child > th,
.doc_tab > tbody:first-child > tr:first-child > td
	{
	border: none;
	}

.doc_tab th,
.doc_tab td
	{
	padding: 0.5em 1em;
	}

.doc_tab .doc_col_left		{text-align: left;}
.doc_tab .doc_col_right		{text-align: right;}
.doc_tab .doc_col_center	{text-align: center;}
.doc_tab .doc_col_justify	{text-align: justify;}

.doc_tab > tbody .doc_row_odd	{background-color: #fafafa;}
.doc_tab > tbody .doc_row_even	{background-color: #f0f0f0;}


/********************************************************************************/
/* Image environments.			 					*/
/********************************************************************************/

.doc_bitmap
	{
	text-align: center;
	}

.doc_bitmap > img
	{
	border: 1px dashed #000;
	}


/********************************************************************************/
/* Subpage environments.		 					*/
/********************************************************************************/

.doc_subpage
	{
	padding: 0 1em 1em;
	border: 1px dashed #999;
	background-color: #fcf0f0;
	}


/********************************************************************************/
/* CSS for wrapper captions.							*/
/********************************************************************************/

.doc_caption
	{
	margin: 1em 0;
	padding: 0 0.5em;
	font-size: 0.929em;	/* For size of 14 * 0.929 = 13px */
	}

.doc_caption > span:first-child
	{
	font-weight: bold;
	margin-right: 0.5em;
	}


/********************************************************************************/
/* CSS for table of contents.							*/
/********************************************************************************/

.doc_toc
	{
	list-style-type: none;
	padding-left: 1em;
	font-size: 0.875em;	/* For size of 16 * 0.875 = 14px */
	}

.doc_toc > li > a > span + span
	{
	margin-left: 0.5em;
	}


/********************************************************************************/
/* CSS for story bibliography.		 					*/
/********************************************************************************/

.doc_bibs
	{
	padding: 0;
	list-style-type: none;
	}

.doc_bibs > li
	{
	margin-top: 0.75em;
	}

.doc_bibs > li > span
	{
	width: 2.5em;
	float: left;
	font-weight: bold;
	text-align: right;
	}

.doc_bibs > li > p
	{
	margin-left: 3em;
	}

.doc_bib_author
	{
	margin-right: 0.5em;
	}

.doc_bib_author:after
	{
	content: ':';
	}

.doc_bib_title
	{
	font-style: italic;
	}

.doc_bib_resource
	{
	display: block;
	margin-top: 0.25em;
	}


/********************************************************************************/
/* CSS for story notes.			 					*/
/********************************************************************************/

.doc_notes
	{
	padding: 0;
	list-style-type: none;
	}

.doc_notes > li > span
	{
	width: 2.5em;
	float: left;
	font-weight: bold;
	text-align: right;
	}

.doc_notes > li > div
	{
	margin-left: 3em;
	}

