/********************************************************************************/
/* Lambdoc CSS. 								*/
/********************************************************************************/

/********************************************************************************/
/* High-level document CSS.							*/
/********************************************************************************/

body	{
	font-size: 16px;	/* The default for most browsers is 16px. */
	}

.doc
	{
	margin: auto;
	width: 46em;
	font-size: 0.875em;	/* For default of 16 * 0.875 = 14px */
	line-height: 1.25em;
	}


/********************************************************************************/
/* Inline text.									*/
/********************************************************************************/

.doc_mono	{font-family: monospace;}
.doc_caps	{font-variant: small-caps;}
.doc_thru	{text-decoration: line-through;}


/********************************************************************************/
/* Hyperlinks.									*/
/********************************************************************************/

.doc a
	{
	text-decoration: none;
	}

.doc_see
	{
	margin-left: 0.3em;
	font-size: smaller;
	vertical-align: 10%;
	color: #0000cc;
	}

.doc_cite
	{
	margin-left: 0.3em;
	color: #0000cc;
	}


/********************************************************************************/
/* Document titles and headings.						*/
/********************************************************************************/

.doc_title	{text-align: center;}
h1.doc_title	{font-size: 1.714em; margin-bottom: 1.5em;}	/* For default of 14 * 1.714 = 24px */
h2.doc_title	{font-size: 1.429em; margin: 0.5em auto;}	/* For default of 14 * 1.429 = 20px */

h1.doc_part
	{
	clear: both;
	margin: 1.5em 0 1em;
	padding: 0.5em 0;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	font-variant: small-caps;
	font-size: 1.43em;					/* For default of 14 * 1.429 = 20px */
	text-transform: capitalize;
	text-align: center;
	}

h1.doc_sec,
h2.doc_sec,
h3.doc_sec
	{
	clear: both;
	margin: 1.5em 0 0em;
	padding: 0;
	text-transform: capitalize;
	}

.doc_part > span + span, .doc_sec > span + span
	{
	margin-left: 0.75em;
	}

h1.doc_sec	{font-size: 1.143em;}		/* For default of 14 * 1.143 = 16px */
h2.doc_sec	{font-size: 1.071em;}		/* For default of 14 * 1.071 = 15px */
h3.doc_sec	{font-size: 1em;}		/* For default of 14 * 1 = 14px */


/********************************************************************************/
/* Abstract.									*/
/********************************************************************************/

.doc_abs > h1
	{
	text-align: center;
	margin: 2em auto 0.5em;
	font-size: 1em;
	}

.doc_abs p
	{
	margin: 0;
	}


/********************************************************************************/
/* Rules.									*/
/********************************************************************************/

.doc hr {margin: 2em 0;}


/********************************************************************************/
/* Paragraphs.									*/
/********************************************************************************/

.doc p
	{
	margin: 0.5em 0;
	text-align: justify;
	}

.doc_par + .doc_par
	{
	text-indent: 1em;
	}


/********************************************************************************/
/* List environments (itemize and enumerate).					*/
/********************************************************************************/

.doc_itemize
	{
	margin: 1em 0 1.5em;
	padding: 0 0 0 2em;
	list-style: disc outside;
	}

.doc_enumerate
	{
	margin: 1em 0 1.5em;
	padding: 0 0 0 2em;
	list-style: decimal outside;
	}

.doc_itemize > li, .doc_enumerate > li
	{
	margin: 0.5em 0;
	}

.doc_itemize > li > .doc_par:first-child,
.doc_enumerate > li > .doc_par:first-child
	{
	margin: 0;
	}

.doc_style_none		{list-style-type: none;}
.doc_style_disc		{list-style-type: disc;}
.doc_style_circle	{list-style-type: circle;}
.doc_style_square	{list-style-type: square;}
.doc_style_decimal	{list-style-type: decimal;}
.doc_style_lower_roman	{list-style-type: lower-roman;}
.doc_style_upper_roman	{list-style-type: upper-roman;}
.doc_style_lower_alpha	{list-style-type: lower-alpha;}
.doc_style_upper_alpha	{list-style-type: upper-alpha;}


/********************************************************************************/
/* CSS common to all floaters.							*/
/********************************************************************************/

.doc_floater
	{
	clear: both;
	margin: 2em 1em;
	}

.doc_float_right	{margin: 0.5em 0 1em 2em; float: right; width: 35%;}
.doc_float_left		{margin: 0.5em 2em 1em 0; float: left; width: 35%;}


/********************************************************************************/
/* Quote environments.								*/
/********************************************************************************/

blockquote.doc_quote
	{
	clear: both;
	padding: 0 1em 0 3em;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	font-style: italic;
	text-align: justify;
	quotes: "\201c" "\201d";
	}

blockquote.doc_quote:before
	{
	display: block;
	font-family: "Georgia", serif;
	font-size: 4em;
	color: #999;
	content: open-quote;
	margin-left: -0.7em;
	line-height: 1.2em;
	height: 0;
	}

blockquote.doc_quote.doc_float_right	{margin: 0.5em 0 1em 2em; float: right; width: 35%;}
blockquote.doc_quote.doc_float_left	{margin: 0.5em 2em 1em 0; float: left; width: 35%;}


/********************************************************************************/
/* Mathematics environments.							*/
/********************************************************************************/

div.doc_math
	{
	text-align: center;
	background: yellow;
	}


/********************************************************************************/
/* Code environments.								*/
/********************************************************************************/

.doc_hl_main
	{
	border: 1px dashed #666;
	font-size: 0.857em;
	font-family: monospace;
	color: #000000;
	background-color: #f9f9f9;
	}

.doc_hl_nums
	{
	float: left;
	margin: 0 1em 0 0;
	border-right: 1px solid #999;
	font-weight: bold;
	color: #000;
	}

.doc_hl_code
	{
	margin: 0;
	padding:0;
	}

.doc_hl_line,
.doc_hl_line_even,
.doc_hl_line_odd
	{
	display: block;
	padding: 0.1em 0.5em;
	}

.doc_hl_line_even	{background: #f9f9f9;}
.doc_hl_line_odd	{background: #f3f6fc;}

.doc_hl_num		{color: #606; font-weight: bold;}
.doc_hl_esc		{color: #f06; font-weight: bold;}
.doc_hl_str		{color: #c33;}
.doc_hl_dstr		{color: #0ff;}
.doc_hl_slc		{color: #669; font-style: italic;}
.doc_hl_com		{color: #669; font-style: italic;}
.doc_hl_dir		{color: #600;}
.doc_hl_sym		{color: #060;}
.doc_hl_kwa		{color: #960; font-weight: bold;}
.doc_hl_kwb		{color: #006;}
.doc_hl_kwc		{color: #03c;}
.doc_hl_kwd		{color: #090; font-weight: bold;}


/********************************************************************************/
/* Verbatim environments.							*/
/********************************************************************************/

.doc_verb
	{
	overflow: hidden;
	white-space: pre;
	padding: 1em;
	border: 1px dashed #999;
	text-align: left;
	font-family: monospace;
	font-size: 0.875em;
	background-color: #fffcf0;
	}


/********************************************************************************/
/* Tabular environments.		 					*/
/********************************************************************************/

.doc_tab
	{
	margin: 2em auto;
	border-top: 2px solid #999;
	border-bottom: 2px solid #999;
	font-size: 0.929em;
	}

.doc_tab > thead,
.doc_tab > tfoot
	{
	vertical-align: bottom;
	font-weight: bold;
	background-color: #fafafa;
	}

.doc_tab > tbody > tr:first-child > th,
.doc_tab > tbody > tr:first-child > td,
.doc_tab > tfoot > tr:first-child > th,
.doc_tab > tfoot > tr:first-child > td
	{
	border-top: 2px solid #999;
	}

.doc_tab > tbody:first-child > tr:first-child > th,
.doc_tab > tbody:first-child > tr:first-child > td
	{
	border: none;
	}

.doc_tab th,
.doc_tab td
	{
	padding: 0.5em 1em;
	}

.doc_tab .doc_col_left		{text-align: left;}
.doc_tab .doc_col_right		{text-align: right;}
.doc_tab .doc_col_center	{text-align: center;}
.doc_tab .doc_col_justify	{text-align: justify;}

.doc_tab > tbody .doc_row_odd	{background-color: #fafafa;}
.doc_tab > tbody .doc_row_even	{background-color: #f0f0f0;}


/********************************************************************************/
/* Image environments.			 					*/
/********************************************************************************/

.doc_bitmap
	{
	margin: 2em auto;
	text-align: center;
	}

.doc_bitmap > img
	{
	border: 1px dashed #000;
	}


/********************************************************************************/
/* Subpage environments.		 					*/
/********************************************************************************/

.doc_subpage
	{
	padding: 0 1em 1em;
	border: 1px dashed #999;
	background-color: #fcf0f0;
	}


/********************************************************************************/
/* CSS for wrappers.								*/
/********************************************************************************/

.doc_wrapper
	{
	margin: 2em 1em 2.5em;
	}

.doc_caption
	{
	margin: 1em 0 0 0;
	font-size: 0.929em;
	}

.doc_caption > h1
	{
	float: left;
	width: 5em;
	margin: 0 0.5em 0 0;
	text-align: right;
	font-weight: bold;
	font-size: 1em;
	}

.doc_caption > p
	{
	margin: 0 0 0 5.5em;	/* Left = H1 (width + margin-right) */
	text-align: justify;
	}


/********************************************************************************/
/* CSS for table of contents.							*/
/********************************************************************************/

.doc_toc
	{
	list-style-type: none;
	padding-left: 1em;
	font-size: 0.875em;	/* For default of 16 * 0.875 = 14px */
	}

.doc_toc > li > a > span + span
	{
	margin-left: 0.5em;
	}


/********************************************************************************/
/* CSS for story bibliography.		 					*/
/********************************************************************************/

.story_bibliography
	{
	margin-left: 2em;
	list-style-type: decimal;
	}

.biblio_entry
	{
	margin-bottom: 0.5em;
	}

.biblio_author
	{
	}

.biblio_author:after
	{
	content: ':';
	}

.biblio_title
	{
	margin-left: 0.2em;
	font-style: italic;
	text-transform: capitalize;
	}

.biblio_title:before
	{
	content: '\201c';
	}

.biblio_title:after
	{
	content: '\201d';
	}

.biblio_resource
	{
	display: block;
	margin-top: 0.2em;
	}

