html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, button
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	}

:focus
	{
	outline: 0;
	}

body
	{
	line-height: 1;
	color: black;
	background: white;
	}

ol, ul
	{
	list-style: none;
	}

table
	{
	border-collapse: separate;
	border-spacing: 0;
	}

caption, th, td
	{
	text-align: left;
	font-weight: normal;
	}

.doc_bold
	{
	font-weight: bold;
	}

.doc_emph
	{
	font-style: italic;
	}

.doc_code
	{
	font-family: "DejaVu Sans Mono", "Courier New", "Courier", monospace;
	font-weight: bold;
	color: #333;
	}

.doc_caps
	{
	font-variant: small-caps;
	}

.doc_ins
	{
	text-decoration: underline;
	color: #090;
	}

.doc_del
	{
	text-decoration: line-through;
	color: #900;
	}

.doc_sup
	{
	vertical-align: 0.3em;
	}

.doc_sub
	{
	vertical-align: -0.1em;
	}

.doc_mbox
	{
	white-space: nowrap;
	}

.doc_lnk
	{
	text-decoration: none;
	color: #009;
	}

.doc_see
	{
	margin-left: 0.25em;
	vertical-align: 0.3em;
	font-size: 0.8462em;
	color: #009;
	}

.doc_cite
	{
	margin-left: 0.25em;
	color: #009;
	}

.doc_par
	{
	text-align: justify;
	}

.doc_initial:first-letter
	{
	float: left;
	margin-right: 0.15em;
	font-weight: bold;
	font-size: 3.5em;
	text-transform: capitalize;
	color: #501;
	}

.doc_par:not(:first-child)
	{
	margin-top: 0.5em;
	}

.doc_par:not(:last-child)
	{
	margin-bottom: 0.5em;
	}

.doc_par + .doc_par:not(.doc_initial)
	{
	text-indent: 1em;
	}

.doc_par.doc_indent:not(.doc_initial)
	{
	text-indent: 1em;
	}

.doc_par.doc_noindent
	{
	text-indent: 0 !important;
	}

.doc_itemize, .doc_enumerate, .doc_description
	{
	margin: 0 0 0 2em;
	}

.doc_itemize
	{
	list-style: disc outside;
	}

.doc_enumerate
	{
	list-style: decimal outside;
	}

.doc_itemize > .doc_item, .doc_enumerate > .doc_item
	{
	margin: 0.5em 0;
	}

.doc_description > .doc_item
	{
	margin: 0.5em 0 0.25em;
	}

.doc_style_none
	{
	list-style-type: none;
	}

.doc_style_disc
	{
	list-style-type: disc;
	}

.doc_style_circle
	{
	list-style-type: circle;
	}

.doc_style_square
	{
	list-style-type: square;
	}

.doc_style_decimal
	{
	list-style-type: decimal;
	}

.doc_style_lower_roman
	{
	list-style-type: lower-roman;
	}

.doc_style_upper_roman
	{
	list-style-type: upper-roman;
	}

.doc_style_lower_alpha
	{
	list-style-type: lower-alpha;
	}

.doc_style_upper_alpha
	{
	list-style-type: upper-alpha;
	}

.doc_description > .doc_item
	{
	margin-left: -1.5em;
	font-weight: bold;
	color: #501;
	}

.doc_itemize:not(:first-child), .doc_enumerate:not(:first-child), .doc_description:not(:first-child)
	{
	margin-top: 1em;
	}

.doc_itemize:not(:last-child), .doc_enumerate:not(:last-child), .doc_description:not(:last-child)
	{
	margin-bottom: 1em;
	}

dt.doc_question, dt.doc_answer
	{
	display: block;
	float: left;
	margin-right: 0.5em;
	font-weight: bold;
	font-variant: small-caps;
	}

dt.doc_answer
	{
	margin-left: 1.5em;
	}

dt.doc_answer:before
	{
	display: block;
	float: left;
	margin-left: -0.75em;
	height: 0;
	line-height: 1em;
	font-family: "Georgia", serif;
	font-weight: bold;
	font-variant: normal;
	font-size: 1.8em;
	quotes: "\201c" "\201d";
	content: open-quote;
	color: #501;
	}

dd.doc_question
	{
	margin: 0.5em 0;
	}

dd.doc_answer
	{
	margin: 0.5em 0 1em 1.5em;
	}

.doc_question
	{
	color: #501;
	}

.doc_qanda:not(:first-child)
	{
	margin-top: 1em;
	}

.doc_qanda:not(:last-child)
	{
	margin-bottom: 1em;
	}

.doc_verse
	{
	clear: both;
	margin: 0 1em;
	text-align: center;
	}

.doc_verse_aux
	{
	display: inline-block;
	font-style: italic;
	}

.doc_verse_aux > .doc_par
	{
	text-indent: 0 !important;
	}

.doc_verse:not(:first-child)
	{
	margin-top: 1.5em;
	}

.doc_verse:not(:last-child)
	{
	margin-bottom: 1.5em;
	}

.doc_quote
	{
	clear: both;
	margin: 0 1em;
	padding-left: 0.75em;
	border-left: 2px dotted #501;
	color: #444;
	}

.doc_quote:not(:first-child)
	{
	margin-top: 1.5em;
	}

.doc_quote:not(:last-child)
	{
	margin-bottom: 1.5em;
	}

.doc_mathblk
	{
	clear: both;
	margin: 0 1em;
	text-align: center;
	}

.doc_mathblk:not(:first-child)
	{
	margin-top: 1em;
	}

.doc_mathblk:not(:last-child)
	{
	margin-bottom: 1em;
	}

.doc_wrapper > .doc_mathblk
	{
	margin: 0;
	}

.doc_src_main
	{
	clear: both;
	margin: 0 1em;
	font-size: 0.8462em;
	font-family: "DejaVu Sans Mono", "Courier New", "Courier", monospace;
	line-height: 1.8em;
	overflow: auto;
	}

.doc_src_boxed, .doc_src_zebra
	{
	border: 1px solid #333;
	-moz-box-shadow: 2px 2px 2px #666;
	-moz-border-radius: 5px;
	background: #f8f9fc;
	}

.doc_src_console
	{
	border: 1px solid #ffb720;
	-moz-box-shadow: 2px 2px 2px #666;
	-moz-border-radius: 5px;
	background: #000;
	color: #ffe790;
	}

.doc_src_nums
	{
	float: left;
	margin-right: 1em;
	border-right: 1px solid #666;
	white-space: normal;
	font-weight: bold;
	}

.doc_src_console > .doc_src_nums
	{
	border-right: 1px solid #ffb720;
	}

.doc_src_code
	{
	white-space: normal;
	}

.doc_src_line
	{
	display: block;
	white-space: pre;
	height: 1.8em;
	padding: 0 1em;
	}

.doc_src_dummy
	{
	display: block;
	height: 0;
	padding: 0.3em 0;
	}

.doc_src_zebra > .doc_src_code > .doc_src_line:nth-child(odd)
	{
	background: #f3f6fc;
	}

.doc_src_zebra > .doc_src_code > .doc_src_line:nth-child(even)
	{
	background: #f9f9f9;
	}

.doc_src_zebra > .doc_src_code > .doc_src_line:first-child
	{
	-moz-border-radius-topright: 5px;
	}

.doc_src_zebra > .doc_src_code > .doc_src_line:first-child
	{
	-moz-border-radius-topleft: 5px;
	}

.doc_src_zebra > .doc_src_code > .doc_src_line:last-child
	{
	-moz-border-radius-bottomright: 5px;
	}

.doc_src_zebra > .doc_src_code > .doc_src_line:last-child
	{
	-moz-border-radius-bottomleft: 5px;
	}

.doc_src_Kwd
	{
	color: #0000ff;
	font-weight: bold;
	}

.doc_src_Type
	{
	color: #007f00;
	}

.doc_src_Utyp
	{
	color: #007f7f;
	}

.doc_src_Str
	{
	color: #ff0000;
	}

.doc_src_Rex
	{
	color: #ff9f00;
	}

.doc_src_Sch
	{
	color: #ffbfcf;
	}

.doc_src_Com
	{
	color: #9f2f2f;
	font-style: italic;
	}

.doc_src_Num
	{
	color: #7f007f;
	}

.doc_src_Prep
	{
	color: #00007f;
	font-weight: bold;
	}

.doc_src_Sym
	{
	color: #7f0000;
	}

.doc_src_Fun
	{
	color: #000000;
	font-weight: bold;
	}

.doc_src_Cbrk
	{
	color: #ff0000;
	}

.doc_src_Pvar
	{
	color: #00007f;
	}

.doc_src_Pfun
	{
	color: #00007f;
	font-weight: bold;
	}

.doc_src_Clas
	{
	color: #007f7f;
	}

.doc_src_Line
	{
	color: #000000;
	}

.doc_src_Url
	{
	color: #0000ff;
	text-decoration: underline;
	}

.doc_src_Date
	{
	color: #0000ff;
	font-weight: bold;
	}

.doc_src_Time
	{
	color: #00007f;
	font-weight: bold;
	}

.doc_src_File
	{
	color: #00007f;
	font-weight: bold;
	}

.doc_src_Ip
	{
	color: #007f00;
	}

.doc_src_Name
	{
	color: #007f00;
	}

.doc_src_Var
	{
	color: #007f00;
	}

.doc_src_Ital
	{
	color: #007f00;
	font-style: italic;
	}

.doc_src_Bold
	{
	color: #007f00;
	font-weight: bold;
	}

.doc_src_Undr
	{
	color: #007f00;
	text-decoration: underline;
	}

.doc_src_Fixd
	{
	color: #00ff00;
	}

.doc_src_Arg
	{
	color: #007f00;
	}

.doc_src_Oarg
	{
	color: #7f007f;
	}

.doc_src_Math
	{
	color: #ff9f00;
	}

.doc_src_Bibx
	{
	color: #0000ff;
	}

.doc_src_Old
	{
	color: #ff9f00;
	}

.doc_src_New
	{
	color: #007f00;
	}

.doc_src_Diff
	{
	color: #0000ff;
	}

.doc_src_Sel
	{
	color: #7f007f;
	}

.doc_src_Prop
	{
	color: #0000ff;
	}

.doc_src_Val
	{
	color: #007f00;
	}

.doc_src_Atom
	{
	color: #ff9f00;
	}

.doc_src_Meta
	{
	color: #000000;
	font-style: italic;
	}

.doc_src_plain:not(:first-child)
	{
	margin-top: 1.5em;
	}

.doc_src_plain:not(:last-child)
	{
	margin-bottom: 1.5em;
	}

.doc_src_boxed:not(:first-child)
	{
	margin-top: 2em;
	}

.doc_src_boxed:not(:last-child)
	{
	margin-bottom: 2em;
	}

.doc_src_zebra:not(:first-child)
	{
	margin-top: 2em;
	}

.doc_src_zebra:not(:last-child)
	{
	margin-bottom: 2em;
	}

.doc_src_console:not(:first-child)
	{
	margin-top: 2em;
	}

.doc_src_console:not(:last-child)
	{
	margin-bottom: 2em;
	}

.doc_wrapper > .doc_src_main
	{
	margin: 0;
	}

.doc_tab
	{
	clear: both;
	margin: 0 1em;
	text-align: center;
	line-height: 0;
	}

.doc_tab_aux
	{
	display: inline-block;
	line-height: 1.5em;
	}

.doc_tab_aux > table
	{
	font-size: 0.9231em;
	border-collapse: collapse;
	border-top: 2px solid #666;
	border-bottom: 2px solid #666;
	}

.doc_tab_aux > table > thead
	{
	vertical-align: bottom;
	font-weight: bold;
	border-bottom: 1px solid #666;
	}

.doc_tab_aux > table > tfoot
	{
	vertical-align: bottom;
	font-weight: bold;
	border-top: 1px solid #666;
	}

.doc_tgroup > tr > th
	{
	padding: 0.4em 1em;
	font-weight: bold;
	}

.doc_tgroup > tr > td
	{
	padding: 0.4em 1em;
	font-weight: bold;
	}

tbody.doc_tgroup > tr > th
	{
	padding: 0.1em 1em;
	}

tbody.doc_tgroup > tr > td
	{
	padding: 0.1em 1em;
	font-weight: normal;
	}

tbody.doc_tgroup > tr:first-child > th
	{
	padding-top: 0.4em;
	}

tbody.doc_tgroup > tr:first-child > td
	{
	padding-top: 0.4em;
	}

tbody.doc_tgroup > tr:last-child > th
	{
	padding-bottom: 0.4em;
	}

tbody.doc_tgroup > tr:last-child > td
	{
	padding-bottom: 0.4em;
	}

tbody.doc_tgroup + tbody.doc_tgroup
	{
	border-top: 1px dotted #999;
	}

.doc_cell_l
	{
	text-align: left;
	}

.doc_cell_r
	{
	text-align: right;
	}

.doc_cell_c
	{
	text-align: center;
	}

.doc_cell_j
	{
	text-align: justify;
	}

.doc_oline
	{
	border-top: 1px solid #000;
	}

.doc_uline
	{
	border-bottom: 1px solid #000;
	}

.doc_tab:not(:first-child)
	{
	margin-top: 2em;
	}

.doc_tab:not(:last-child)
	{
	margin-bottom: 2em;
	}

.doc_wrapper > .doc_tab
	{
	margin: 0;
	}

.doc_verb
	{
	clear: both;
	margin: 0 1em;
	text-align: center;
	line-height: 0;
	}

.doc_verb_aux
	{
	display: inline-block;
	}

.doc_verb_aux > pre
	{
	display: block;
	overflow: hidden;
	white-space: pre;
	line-height: 1em;
	text-align: left;
	font-family: "DejaVu Sans Mono", "Courier New", "Courier", monospace;
	}

.doc_mult0
	{
	font-size: 1.2em;
	}

.doc_mult1
	{
	font-size: 1.7em;
	}

.doc_mult2
	{
	font-size: 2.4em;
	}

.doc_mult3
	{
	font-size: 3.39em;
	}

.doc_mult4
	{
	font-size: 4.8em;
	}

.doc_mult5
	{
	font-size: 6.79em;
	}

.doc_mult6
	{
	font-size: 9.6em;
	}

.doc_mult7
	{
	font-size: 13.6em;
	}

.doc_mult8
	{
	font-size: 19.2em;
	}

.doc_mult9
	{
	font-size: 27.2em;
	}

.doc_verb:not(:first-child)
	{
	margin-top: 2em;
	}

.doc_verb:not(:last-child)
	{
	margin-bottom: 2em;
	}

.doc_wrapper > .doc_verb
	{
	margin: 0;
	}

.doc_pic
	{
	clear: both;
	margin: 0 1em;
	text-align: center;
	line-height: 0;
	}

.doc_pic_lnk
	{
	display: inline-block;
	width: 100%;
	}

.doc_pic_lnk > img
	{
	display: inline;
	max-width: 100%;
	border: none;
	}

.doc_pic_frame > .doc_pic_lnk > img
	{
	-moz-box-shadow: 2px 2px 2px #666;
	}

.doc_pic:not(:first-child)
	{
	margin-top: 2em;
	}

.doc_pic:not(:last-child)
	{
	margin-bottom: 2em;
	}

.doc_wrapper > .doc_pic
	{
	margin: 0;
	}

.doc_subpage
	{
	clear: both;
	margin: 0 1em;
	padding: 1em;
	border: 1px solid #333;
	-moz-box-shadow: 2px 2px 2px #666;
	-moz-border-radius: 5px;
	background: #f9f9f9;
	}

.doc_subpage:not(:first-child)
	{
	margin-top: 2em;
	}

.doc_subpage:not(:last-child)
	{
	margin-bottom: 2em;
	}

.doc_wrapper > .doc_subpage
	{
	margin: 0;
	}

.doc_pull
	{
	margin: 0 1em;
	text-align: center;
	}

.doc_pull_aux
	{
	display: inline-block;
	padding: 1em 0.5em 1em 2.5em;
	border-top: 2px dotted #501;
	border-bottom: 2px dotted #501;
	font-size: 1.077em;
	font-weight: bold;
	color: #555;
	}

.doc_pull_aux:before
	{
	float: left;
	display: block;
	font-family: "Georgia", serif;
	font-size: 3em;
	quotes: "\201c" "\201d";
	content: open-quote;
	margin-left: -0.7em;
	height: 0;
	line-height: 0.75em;
	color: #501;
	}

.doc_pull_head
	{
	text-align: right;
	font-size: 0.9286em;
	font-style: normal;
	font-weight: normal;
	color: #501;
	}

.doc_boxout
	{
	margin: 0 1em;
	border: 1px solid #333;
	-moz-box-shadow: 2px 2px 2px #666;
	-moz-border-radius: 5px;
	background: #fffcf0;
	}

.doc_boxout_head
	{
	padding: 0.3em;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	text-align: center;
	font-family: "DejaVu Sans", "Verdana", "Geneva", sans-serif;
	font-size: 1.077em;
	font-variant: small-caps;
	font-weight: bold;
	color: #501;
	}

.doc_boxout_body
	{
	padding: 1em;
	}

.doc_theorem
	{
	margin: 0 1em;
	}

.doc_theorem_head
	{
	float: left;
	height: 1.5em;
	margin-right: 0.5em;
	}

.doc_thmname
	{
	font-weight: bold;
	color: #501;
	}

.doc_thmextra
	{
	margin-left: 0.5em;
	}

.doc_theorem:not(:first-child)
	{
	margin-top: 1em;
	}

.doc_theorem:not(:last-child)
	{
	margin-bottom: 1em;
	}

.doc_float_center
	{
	clear: both;
	margin: 0 1em;
	}

.doc_float_right
	{
	clear: right;
	margin: 0.5em 0 1.5em 2.5em;
	float: right;
	max-width: 45%;
	}

.doc_float_left
	{
	clear: left;
	margin: 0.5em 2.5em 1.5em 0;
	float: left;
	max-width: 45%;
	}

.doc_float_center:not(:first-child)
	{
	margin-top: 2em;
	}

.doc_float_center:not(:last-child)
	{
	margin-bottom: 2em;
	}

.doc_wrapper.doc_float_center:not(:first-child)
	{
	margin-top: 2.5em;
	}

.doc_wrapper.doc_float_center:not(:last-child)
	{
	margin-bottom: 2.5em;
	}

.doc_caption_long
	{
	margin: 1em 0 0;
	text-align: center;
	}

.doc_caption_short
	{
	margin: 0.5em 0 0;
	text-align: right;
	}

.doc_caption_aux
	{
	display: inline-block;
	font-size: 0.9231em;
	text-align: justify;
	}

.doc_caption_head
	{
	display: inline;
	font-weight: bold;
	color: #501;
	}

.doc_caption_long > .doc_caption_aux > .doc_caption_head
	{
	margin-right: 0.25em;
	}

.doc_caption_body
	{
	display: inline;
	}

.doc_order
	{
	margin-right: 0.5em;
	}

.doc_part > .doc_order
	{
	text-decoration: underline;
	}

.doc_title
	{
	clear: both;
	font-family: "DejaVu Sans", "Verdana", "Geneva", sans-serif;
	font-weight: bold;
	font-variant: small-caps;
	text-transform: capitalize;
	text-align: center;
	color: #501;
	}

h1.doc_title
	{
	font-size: 1.615em;
	}

h2.doc_title
	{
	font-size: 1.462em;
	}

.doc_part
	{
	clear: both;
	padding: 0.25em 0;
	border-top: 1px solid #501;
	border-bottom: 1px solid #501;
	font-family: "DejaVu Sans", "Verdana", "Geneva", sans-serif;
	font-weight: bold;
	font-size: 1.308em;
	text-transform: capitalize;
	text-align: center;
	word-spacing: 0.1em;
	letter-spacing: 0;
	color: #501;
	}

.doc_sec
	{
	clear: both;
	font-family: "DejaVu Sans", "Verdana", "Geneva", sans-serif;
	font-weight: bold;
	word-spacing: 0.1em;
	letter-spacing: 0;
	color: #501;
	}

h1.doc_sec
	{
	font-size: 1.231em;
	}

h2.doc_sec
	{
	font-size: 1.154em;
	}

h3.doc_sec
	{
	font-size: 1.077em;
	}

.doc_title:not(:first-child)
	{
	margin-top: 2em;
	}

.doc_part:not(:first-child)
	{
	margin-top: 2em;
	}

.doc_sec:not(:first-child)
	{
	margin-top: 1.5em;
	}

.doc_title:not(:last-child)
	{
	margin-bottom: 1.5em;
	}

.doc_part:not(:last-child)
	{
	margin-bottom: 1.5em;
	}

.doc_sec:not(:last-child)
	{
	margin-bottom: 0.5em;
	}

h2.doc_title + h2.doc_title
	{
	margin-top: -1em;
	}

.doc_abstract
	{
	margin: 2em 1em;
	}

.doc_abstract > .doc_sec
	{
	text-align: center;
	}

.doc_rule
	{
	border: 1px dotted #501;
	margin: 0 1em;
	}

.doc_rule:not(:first-child)
	{
	margin-top: 2em;
	}

.doc_rule:not(:last-child)
	{
	margin-bottom: 2em;
	}

.doc_toc
	{
	list-style-type: none;
	margin-top: 1em;
	padding-left: 0;
	}

.doc_toc > .doc_item
	{
	margin-left: 0.5em;
	}

.doc_level0
	{
	text-decoration: underline;
	margin: 0.25em 0;
	}

.doc_bibs
	{
	margin-top: 1em;
	padding: 0;
	list-style-type: none;
	}

.doc_bib
	{
	margin-top: 0.75em;
	}

.doc_bib_head
	{
	width: 2.5em;
	float: left;
	font-weight: bold;
	text-align: right;
	color: #501;
	}

.doc_bib_body
	{
	margin-left: 3em;
	}

.doc_bib_author
	{
	margin-right: 0.5em;
	}

.doc_bib_author:after
	{
	content: ":";
	}

.doc_bib_title
	{
	font-style: italic;
	}

.doc_bib_resource
	{
	display: block;
	margin-top: 0.25em;
	}

.doc_notes
	{
	margin-top: 1em;
	padding: 0;
	list-style-type: none;
	}

.doc_note
	{
	margin-top: 0.75em;
	}

.doc_note_head
	{
	width: 2.5em;
	float: left;
	font-weight: bold;
	text-align: right;
	color: #501;
	}

.doc_note_body
	{
	margin-left: 3em;
	}

.doc_error + .doc_error
	{
	margin-top: 2em;
	}

.doc_error_head
	{
	font-size: 1.077em;
	}

.doc_error_lines
	{
	border: 1px dotted #666;
	list-style-type: none;
	font-size: 0.8462em;
	font-family: monospace;
	background: #ffc;
	}

.doc_error_linenum
	{
	display: block;
	float: left;
	clear: left;
	width: 3em;
	padding: 0.2em 0;
	text-align: right;
	font-weight: bold;
	}

.doc_error_linestr
	{
	min-height: 1.6em;
	display: block;
	margin-left: 3.5em;
	border-left: 1px solid #999;
	padding: 0.2em 0.5em;
	}

.doc_error_around
	{
	background: #f9f9f9;
	color: #000;
	}

.doc_error_actual
	{
	background: #f3f6fc;
	color: #c33;
	}

.doc_error_msg > .doc_par > .doc_code
	{
	color: #9f1f1f;
	}

.doc_span_mandatory
	{
	color: #006400;
	font-size: 1.154em;
	}

.doc_span_optional
	{
	color: #d06010;
	font-weight: bold;
	font-size: 1.154em;
	}

.doc_span_forbidden
	{
	color: #8b0000;
	font-size: 1.154em;
	}

.doc_boxout_env_warning
	{
	background: #fffcf0;
	}

.doc_boxout_env_warning > .doc_boxout_head
	{
	padding-left: 28px;
	color: #ff9;
	background: #b30 url("boxout-warning.png") no-repeat 6px center;
	}

.doc_boxout_env_tip
	{
	background: #f7fcff;
	}

.doc_boxout_env_tip > .doc_boxout_head
	{
	padding-left: 28px;
	color: #fff;
	background: #06c url("boxout-tip.png") no-repeat 6px center;
	}

.doc
	{
	margin: 1em auto;
	width: 44em;
	font-family: "DejaVu Sans", "Verdana", "Geneva", sans-serif;
	font-size: 13px;
	line-height: 1.5em;
	color: #222;
	}

